[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
types.workspace = true
dioxus = { workspace = true, features = ["fullstack", "server"] }
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
secrecy.workspace = true
tracing.workspace = true
reqwest.workspace = true
axum.workspace = true
